.main
  .header
    .header__logo

    .header__main 

  .contents
    .contents__left
      = link_to "https://www.google.com/", class: "contents__btn contents__btn--Google" do
        = icon("fas", "fas fa-dragon", class: "contents__btn--icon")
        着物
      = link_to "https://www.google.com/", class: "contents__btn contents__btn--Google" do
        = icon("fas", "fas fa-dragon", class: "contents__btn--icon")
        時計
      = link_to "https://www.google.com/", class: "contents__btn contents__btn--Google" do
        = icon("fas", "fas fa-dragon", class: "contents__btn--icon")
        雑貨
      = link_to "https://www.google.com/", class: "contents__btn contents__btn--Google" do
        = icon("fas", "fas fa-dragon", class: "contents__btn--icon")
        家電
      = link_to "https://www.google.com/", class: "contents__btn contents__btn--Google" do
        = icon("fas", "fas fa-dragon", class: "contents__btn--icon")
        アクセサリー
      = link_to "https://www.google.com/", class: "contents__btn contents__btn--Google" do
        = icon("fas", "fas fa-dragon", class: "contents__btn--icon")
        ウイスキー 
      = link_to "https://www.google.com/", class: "contents__btn contents__btn--Google" do
        = icon("fas", "fas fa-dragon", class: "contents__btn--icon")
        焼酎
      = link_to "https://www.google.com/", class: "contents__btn contents__btn--Google" do
        = icon("fas", "fas fa-dragon", class: "contents__btn--icon")
        Google

    .contents__right
      .contents__right__title